<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 类型别名集 -->
<typeAliases>
<typeAlias type="java.lang.Integer"  alias = "i"/>
<typeAlias type="com.web.ltw.bean.User"  alias = "u"/>
<!-- <package name="com.web.ltw.bean"/> -->

</typeAliases>
	<package name = "com.web.ltw.bena"/>
	<mappers>
		<mapper resource="com/web/ltw/mapper/QuestionMapper.xml" />
	</mappers>
</configuration>

